* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#content {
    height: 99vh;
    display: grid;
    grid-template-rows: 1fr 5fr;
}


.header {
    border: 2px solid red;
    background-color: #231651;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.nav-items {
    display: flex;
    gap: calc(25px + 5vw);
    list-style: none;

}

.nav-items a {
    list-style: none;
    text-decoration: none;
    color: white;
    border: 2px solid gainsboro;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 20px;
    transition: 0.3s all;
    cursor: pointer;
}

.nav-items a:hover {
    background-color: white;
    color: black
}


.main {
    border: 2px solid red;
    background: url(./images/food.jpg);
    background-size: cover;
    background-position: center;
}

.main-title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40%;
}

.main-title p {
    background-color: rgba(249, 249, 249, 0.5);
    padding: 50px;
    font-size: calc(1rem + 1vw);
}


.footer {}

/* ------------ Food Menu Style ---------- */

.menu-row {
    background-color: #F4FAFF;
    display: grid;
    grid-template-columns: repeat(2, minmax(50px, 500px));
    justify-content: space-evenly;
    padding: 15px;
    gap: 5vw;
}

.food-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    font-size: 1.4rem;
}

.food-pic {
    border-radius: 20px;
    width: 100%;
}